.model-paragraph{
font-weight: 400;
font-size: 24px;
line-height: 111.5%;
display: flex;
align-items: center;

color: #141415;
}
.image-title{
   display: flex;
   justify-content: flex-end;
}
.modal-image{
width: 500px;
height: 500px;
border-radius: 38px;
}
.image-button{
   display: flex;
   justify-content: center; 
}

.modal-heading h1{
font-weight: 600;
font-size: 64px;
line-height: 111.5%;
display: flex;
align-items: center;
text-transform: uppercase;
color: #141415;
}
.wow-count{
    background-color: #004AAD;
    
}
.wow-count span{
margin-left: 5px;
padding:2px 10px;
width: 40px;
background-color: #FFFFFF;
color: #004AAD;
border-radius: 2px;;
}

.modal-footer{
    margin-top: 2%;
    justify-content: space-between;
    display: flex;
    color: #276FCE;
    font-size: 22px;
}
@media only screen and (max-width: 780px){
    .modal-image{
        width: 400px;
        height: 400px;
        border-radius: 38px;
        }
    .image-title{
        justify-content: center;
    }
}